* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation{
  display: flex;
  justify-content: space-between;
  background-color: #4f8ee0;
  border-radius: 100px;
}

ul{
  display: flex;
  list-style: none;
  margin-top: 20px;
}

li{
  margin: 0 70px;
}

.button-navbar{
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #000;
  padding: 10px;
  text-shadow: 2px #000;
}

header{
  border-radius: 22px;
}